# ---------------------------------------------------------------- #
# Fichiers Générés par la Compilation (Makefile)
# ---------------------------------------------------------------- #
# Cibles principales
/server/bin/
/server/build/

# Fichiers objets (*.o)
*.o

# Fichiers d'archive (*.a)
*.a

# Executables
*.exe
*.out
*.gch
a.out

# ---------------------------------------------------------------- #
# Fichiers du Système d'Exploitation et de l'Environnement de Dev
# ---------------------------------------------------------------- #


# Linux (fichiers de sauvegarde d'éditeurs comme Emacs/Vim)
*~
\#*
.lock

# IDE (Si vous utilisez un IDE comme VS Code ou CLion)
.vscode/
.idea/

